
p,
ul,
code { 
	font: bold 20px TimesNewRoman, serif;
    color: black;
    text-indent: 20px;
}

h1 {
	font: bold 30px Verdana, sans-serif;
	color: #D3C2BE;
}

h2 {
	font: bold 25px Verdana, sans-serif;
	color: #D3C2BE;
}

.main-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header {
    background-color: green;    
    /* height: 20%; */
    text-align: center;
}

.footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
}

.navigation {
    background-color: rgb(228, 115, 115);
    /* text-align: right; */
    padding: 1% 10%;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;  
    flex-wrap: wrap;
	font: bold 25px Verdana, sans-serif;
    /* flex-grow: 3; */
    /* min-height: 200px; */
    /* line-height: 60px; */
}

.navigation-element {
    padding: 0px 20px;
    /* border: 10px black; */
    /* width: 300px; */
    /* flex: 1; */
}

.navigation-link {
    padding: 5px 10px;
    text-decoration: none;
}

.navigation-link:hover, .navigation-link:focus {
    text-decoration: underline;
}

.content {
    background-color: yellow;
    display: flex;
    flex-direction: row;    
}

.contacts {
    /* float: left; */
    background-color: aqua;   
    padding: 1% 3%;
    flex: 1;
    /* flex-grow: 4; */
    /* flex-shrink: 10; */
}

.info-content {
    /* float: right; */
    background-color: #FFFAE3;
    padding: 1% 3%;
    /* flex-grow: 6; */
    /* flex-shrink: 2;  */
    flex: 2.5;
    text-align: left;
}

.content-element {

}

/* .footer-image { 
    float : right; 
} */

.footer-year {
    flex-grow: 4;
    text-align: center;
}

.footer-link {
    flex-grow: 1;
    text-align: center;
}

.logo-image {
    margin: 10px 30px;
    width: 90px;
    height: 45px;
}

.class-photo{
    align-self: center;
}

@media screen and (max-width: 760px) {
    .content {
        flex-direction: column;
    }
    .class-photo {
        display: none;
    }    
}


